<%- include ("template/header", {auth: auth}); %>

<div id="forms" class="container m-4">

    <% if (auth == false) { %>
        <p>Home Page</p>
        <form action="/signup" method="get">
            <button class="bg-warning btn m-2">Signup</button>
        </form>
        <form action="/login" method="get">
            <button class="bg-warning btn m-2">Login</button>
        </form>
    <% } else { %>
        <div id="forms">Hello, <%= name %>
            <form action="/members" method="get">
                <button class="bg-warning btn m-2">Go to members area</button>
            </form>
            <form action="/logout" method="get">
                <button class="bg-warning btn m-2">Logout</button>
            </form>
    <% } %>
        
</div>
<%- include ("template/footer") %>